<div class="row">
  <div class="col">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>General Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            <p><b>Basic Search</b> - To find a book write a word by which you want find a book</p>
          </li>
          <li>
            <p><b>Advanced Search</b> - To find a book use regex syntax to find it more efficiently</p>
          </li>
          <li>
            <p><b>Statistic Search</b> - To find a book use a word, with a pagerank algorithm you will get the ranked result with the highest word occurrence </p>
          </li>
        </ul>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </div>
</div>
